import(methods)
import(Proc4)

#importFrom("grDevices", "col2rgb", "grey.colors", "hsv", "rgb2hsv")
importFrom("jsonlite","toJSON")

export(Event,verb,object)
exportClasses(Event)
exportMethods(as.jlist,verb,object)

export(Timer)
exportClass(Timer)
exportMethods(start,pause,resume,isRunning,totalTime,timeSoFar,reset)

export(Status)
exportClasses(Status)
exportMethods(context,timer,"timer<-",startTimer,pauseTimer,resumeTimer,
              flag,"flag<-",obs,"obs<-",timerTime)





