import(methods)
import(Proc4)

#importFrom("grDevices", "col2rgb", "grey.colors", "hsv", "rgb2hsv")
importFrom("jsonlite","toJSON","fromJSON","unbox")
importFrom("utils","limitedLabels")


## Condition
export(checkCondition,"?eq","?ne","?gt","?gte","?lt","?lte",
       "?in","?nin","?exists","?isnull","?isna","?regexp",
       "?any","?all","?not","?and","?or")

## Context
export(Context,name,doc,cid, belongsTo, "belongsTo<-",
       number, "number<-",applicableContexts,parseContext)
exportClasses(Context)
exportMethods(name,doc,cid, belongsTo, "belongsTo<-",
       number, "number<-")

## Events
export(Event,verb,object,parseEvent)
exportClasses(Event)
exportMethods(as.jlist,verb,object)

## Predicates
export(executePredicate, "!set", "!unset", modify,
       "!incr", "!decr","!mult","!div","!min","!max",
       "!addToSet","!pullFromSet","!push","!pop",
       "!start", "!reset", "!setCall", asif.difftime, is.difftime)

## RuleTables (Rules)
export(Rule,name,doc,context,ruleType,priority,condition,predicate,
       parseRule, queryTest, queryTestScript, ruleTest, ruleTestScript)
exportClass(Rule)
exportMethods(context,ruleType,priority,condition,predicate)

## Status (Timer)
export(Timer,start,pause,resume,isRunning,totalTime,timeSoFar,
       "timeSoFar<-",reset,parseTimer)
exportClass(Timer)
exportMethods(start,pause,resume,isRunning,totalTime,timeSoFar,
              "timeSoFar<-",reset)

## Status (Status)
export(Status,timer,"timer<-",setTimer,timerTime,"timerTime<-",
       timerRunning,"timerRunning<-",flag,"flag<-",obs,"obs<-",
       "copy",parseStatus,getJS,setJS,removeJS,getJSfield,
       setJSfield, removeJSfield, "context<-",oldContext)
exportClasses(Status)
exportMethods(timer,"timer<-",setTimer,timerTime,"timerTime<-",
              timerRunning,"timerRunning<-",
              flag,"flag<-",obs,"obs<-",timerTime, "context<-",
              oldContext,app)





